<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="robot1_endeffector" params="prefix">
  <link name="${prefix}rg2_body_link">
    <visual>
      <!-- <origin rpy="0 1.5707963268 0" xyz="0.051 0.0085 0.0015"/> -->
      <origin rpy="0 1.5707963268 1.5707963268" xyz="0.012 0.0 0.0"/>
      <geometry>
        <!-- <mesh filename="package://ur5_rg2_description/meshes/rg2_gripper/dae_rg2_.dae" scale="0.001 0.001 0.001"/> -->
        <mesh filename="package://ur5_rg2_description/meshes/rg2_gripper/zuhejiaju.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <!-- <origin rpy="0 1.5707963268 0" xyz="0.051 0.0085 0.0015"/> -->
      <origin rpy="0 1.5707963268 1.5707963268" xyz="0.012 0.0 0.0"/>
      <geometry>
        <!-- <mesh filename="package://ur5_rg2_description/meshes/rg2_gripper/dae_rg2_.dae" scale="0.001 0.001 0.001"/> -->
        <mesh filename="package://ur5_rg2_description/meshes/rg2_gripper/zuhejiaju.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1"/>
      <inertia ixx="1" ixy="0.0" ixz="0.0" iyy="1" iyz="0.0" izz="1"/>
    </inertial>
  </link>

  <link name="${prefix}suction_eef_link"/>

  <joint name="${prefix}suction_eef_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.125 0.0 0.095"/>
    <parent link="${prefix}rg2_body_link"/>
    <child link="${prefix}suction_eef_link"/>
  </joint>

  <link name="${prefix}gripper_eef_link"/>

  <joint name="${prefix}gripper_eef_joint" type="fixed">
    <origin rpy="1.5707963268 1.5707963268 0" xyz="0.125 0.0 -0.105"/>
    <parent link="${prefix}rg2_body_link"/>
    <child link="${prefix}gripper_eef_link"/>
  </joint>

  <link name="${prefix}camera_eef_link"/>

  <joint name="${prefix}camera_eef_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.0332 0.1095 0.0"/>
    <parent link="${prefix}rg2_body_link"/>
    <child link="${prefix}camera_eef_link"/>
  </joint>

  </xacro:macro>
</robot>
