<launch>
    <!-- start easy_handeye -->
    <include file="$(find ur_modern_driver)/launch/ur3_bringup.launch" >
    </include>

    <include file="$(find ur3_rg2_moveit_config)/launch/ur3_moveit_planning_execution.launch" >
    </include>

        <!-- start ArUco -->
    <node name="mir" pkg="test_pkg" type="mir" output="screen">
    </node>

</launch>