<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur5" >

  <xacro:property name="M_PI" value="3.14159265359" />

  <!-- common stuff -->
  <xacro:include filename="$(find ur5_rg2_description)/urdf/common.gazebo.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find ur5_rg2_description)/urdf/ur5.urdf.xacro" />

  <!-- extras -->
  <xacro:include filename="$(find ur5_rg2_description)/urdf/extras_ur5.urdf.xacro" />
  
  <!-- rg2 gripper -->
  <xacro:include filename="$(find ur5_rg2_description)/urdf/rg2.urdf.xacro" />

  <!-- arm -->
  <xacro:ur5_robot prefix="" joint_limited="false"/>

  <!-- extras -->
  <xacro:extras prefix="" joint_limited="false" />

  <!-- rg2 pipe -->
  <xacro:rg2 prefix=""/>

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "ground_base" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
